@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://db.onlinewebfonts.com/c/bfbdc6a04609bff0d5ccdfcf6b766d95?family=Flood+Std");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #333;
  --light-green: #c1f7d5;
  --dark-blue: #354463;
}

body {
  color: var(--black);
  font-family: "Signika";
  font-size: 16px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

p {
  line-height: 1.6;
}

/* ------------------------------ utility classes ------------------------------ */

.logo-text {
  font-size: 22px;
  width: 160px;
}

.cta-btn {
  background-color: var(--light-green);
  border: none;
  border-radius: 100px;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 0 20px 20px;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: var(--dark-blue);
  color: var(--light-green);
}

.heading-sm {
  color: var(--dark-blue);
  font-size: 18px;
  margin: 0 0 10px;
}

.headline-lrg {
  color: var(--dark-blue);
  font-size: 22px;
  margin: 0 0 10px;
}

/* ------------------------------ navbar styles ------------------------------ */

.navbar {
  background-color: var(--white);
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.heading-section {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 20px 12px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-right: 14px;
}

.hamburger-menu .hamburger-menu-line {
  background-color: var(--black);
  border-radius: 10px;
  height: 2.4px;
  width: 24px;
  margin-bottom: 4px;
}

.hamburger-menu .hamburger-menu-line:last-child {
  margin-bottom: 0;
}

.heading-section .donate-btn {
  display: none;
}

.list-section {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -300px;
  transition: top 0.5s ease-in-out;
  z-index: 5;
  width: 100%;
}

.navbar input {
  opacity: 0;
  position: absolute;
  top: 40px;
  right: 27px;
  width: 20px;
  height: 20px;
  z-index: 20;
  cursor: pointer;
}

.navbar input:checked ~ .list-section {
  top: 0;
  display: flex;
  top: 91.2px;
  width: 100%;
}

.list-section .nav-items {
  list-style-type: none;
  padding: 0 10px;
  margin-bottom: 10px;
}

.list-section .nav-item a {
  color: var(--black);
  display: inline-block;
  padding: 13px 20px;
  text-decoration: none;
}

/* ------------------------------ hero section styles ------------------------------ */

.home-hero-section {
  background-image: url(./images/annie-spratt-135307-unsplash@3x.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 80px 10px;
  position: relative;
}

.hero-text {
  height: 228px;
}

.hero-text h2 {
  color: var(--white);
  font-family: "Flood Std";
  font-size: 44px;
  line-height: 1.1;
  width: 296px;
}

.hero-article {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 30px;
  position: relative;
}

.hero-article div {
  background-color: var(--dark-blue);
  color: var(--white);
  text-transform: uppercase;
  padding: 11px 40px;
  position: absolute;
  top: -20px;
}

.hero-article p {
  color: var(--dark-blue);
  text-decoration: underline 1px solid var(--dark-blue);
  margin: 24px 0 0;
}

/* ------------------------------ take action section styles ------------------------------ */

.take-action-section {
  background-color: var(--light-green);
  padding: 0 10px;
  position: relative;
}
.take-action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.take-action-container div {
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 14px;
  padding: 11px 40px;
  text-transform: uppercase;
  margin-top: -23px;
  z-index: 10;
}

.take-action-container .actions {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}

.take-action-container .actions article {
  width: 50%;
  padding: 10px;
}

.actions article p {
  color: var(--dark-blue);
  font-size: 14px;
}

/* ------------------------------ what we do section styles ------------------------------ */

.what-we-do-section {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 56px 0;
  position: relative;
}

.what-we-do-container {
  padding: 0 10px;
}

.what-we-do-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.what-we-do-article div {
  background-color: var(--white);
  color: var(--dark-blue);
  text-transform: uppercase;
  padding: 11px 40px;
  margin: -16px 0 0;
}

.what-we-do-article .headline-lrg {
  color: var(--white);
  text-align: center;
  margin-top: 30px;
}

.what-we-do-block {
  margin-bottom: 60px;
}

.what-we-do-wrapper {
  margin: 32px 0 0;
}

.what-we-do-content {
  background-color: var(--white);
  margin: 30px 0 0;
  padding: 0 30px 30px;
}

.what-we-do-image {
  height: 200px;
  position: relative;
  top: -30px;
}

.what-we-do-content-article {
  text-align: center;
}

.what-we-do-content-article p {
  color: #354463;
  font-size: 16px;
}

.what-we-do-content-article button {
  background-color: var(--light-green);
  color: var(--dark-blue);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
}

.what-we-do-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what-we-do-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what-we-do-block:nth-child(1) .what-we-do-image {
  background-image: url(./images/tree-planting@3x.png);
}
.what-we-do-block:nth-child(2) .what-we-do-image {
  background-image: url(./images/education-training@3x.png);
}
.what-we-do-block:nth-child(3) .what-we-do-image {
  background-image: url(./images/advocacy@3x.png);
}

/* ------------------------------ climate hunger section styles ------------------------------ */

.climate-hunger-section {
  background-image: url(./images/did-you-know-background@3x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

.climate-hunger-section-container {
  padding: 0 10px;
}

.text-container {
  margin-bottom: 60px;
}

.text-container .brush-text {
  margin: 0 0 50px;
}

.text-container .brush-text h2 {
  color: var(--white);
  font-family: "Flood Std";
  font-size: 44px;
  width: 250px;
  margin: 30px 0 0;
}

.text-container button {
  background-color: var(--light-green);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
}

.did-you-know-text {
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 14px;
  padding: 11px 40px;
  text-transform: uppercase;
  position: absolute;
  top: -16px;
}

.did-you-know-div {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 32px;
  position: relative;
  margin: 0 0 30px;
}

.did-you-know-box {
  display: flex;
  flex-direction: column;
}

.did-you-know-box-content {
  text-align: center;
}

.did-you-know-box-content p {
  color: var(--dark-blue);
  font-size: 16px;
}

.did-you-know-buttons {
  display: flex;
  justify-content: center;
  padding: 30px 0 10px;
}

.did-you-know-buttons .social-circle {
  background-color: var(--light-green);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.did-you-know-buttons .twitter-circle {
  background-image: url(./images/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(50%);
  margin: 0 5px 16px 7px;
}

.did-you-know-buttons .facebook-circle {
  background-image: url(./images/facebook-f.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(30%);
  margin: 0 7px 0 5px;
}

/* ------------------------------ testimonial slider section styles ------------------------------ */

.testimonial-slider-section {
  padding: 60px 0;
  position: relative;
}

.testimonial-slider-section-container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-text {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 11px 40px;
  margin: 0 0 30px;
  font-size: 14px;
  text-transform: uppercase;
}

.slide-image {
  background-image: url(./images/lady-baby@3x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vw;
  margin-bottom: 30px;
}

.slide-content {
  background-color: var(--dark-blue);
  padding: 30px 32px;
  text-align: center;
}

.slide-content .heading-sm {
  color: var(--white);
}

.slide-content p {
  font-size: 14px;
  color: var(--white);
}

.slide-slider {
  display: flex;
  padding: 10px 0 0;
  margin: 0 0 25px;
}

.slide-slider .slide-dot {
  background-color: #222;
  width: 16px;
  height: 16px;
  margin: 0 3px 8px;
}

.testimonial-slider-section-container button {
  border: none;
  border-radius: 40px;
  background-color: var(--light-green);
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
}

/* ------------------------------ home updates section styles ------------------------------ */

.home-updates-section {
  background-color: var(--dark-blue);
  padding: 77px 0;
  position: relative;
}

.home-updates-section-container {
  padding: 0 16px;
}

.accent-text {
  margin: 0 0 70px;
}

.accent-text h3 {
  color: var(--white);
  font-family: "Flood Std";
  font-size: 44px;
  text-align: center;
}

.home-updates-row {
  margin-bottom: 20px;
}

.home-updates-row-image {
  height: 288px;
  width: 100%;
}

.home-updates-row:nth-child(1) .home-updates-row-image {
  background-image: url(./images/tree-planting@3x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-updates-row:nth-child(2) .home-updates-row-image {
  background-image: url(./images/meeting@3x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-updates-row-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -20px;
}

.event-text {
  background-color: var(--white);
  color: var(--dark-blue);
  padding: 11px 40px;
  font-size: 14px;
  margin: 0 0 50px;
  text-transform: uppercase;
}

.home-updates-row-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-updates-row-content .headline-lrg {
  color: var(--white);
}

.home-updates-row-content p {
  color: var(--white);
  font-size: 16px;
}

.home-updates-row-content button {
  background-color: var(--light-green);
  border: 0;
  border-radius: 40px;
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 30px 0 0;
}

/* ------------------------------ newsletter signup section styles ------------------------------ */

.newsletter-signup-section {
  background-color: var(--light-green);
  padding: 70px 0;
  position: relative;
}

.newsletter-signup-section-container {
  padding: 0 10px;
}

.newsletter-signup-text {
  margin: 0 0 20px;
}

.newsletter-signup-fields {
  display: flex;
  flex-direction: column;
}

.newsletter-signup-fields input {
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 115px 13px 24px;
  margin: 0 0 24px;
  outline: none;
}

.newsletter-signup-fields button {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 50px;
  color: #c1f7d5;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 37px;
}

/* ------------------------------ footer section styles ------------------------------ */

.footer-section {
  background-color: var(--white);
  padding: 56px 0 4px;
  position: relative;
}

.footer-section-container {
  padding: 0 10px;
}

.footer-section-content {
  margin-bottom: 30px;
}

.footer-text {
  width: 160px;
  height: 56px;
}

.footer-text h2 {
  color: var(--black);
  font-size: 22px;
}

.footer-col {
  background-color: var(--white);
  width: 50%;
  margin: 32px 0;
}

.footer-col .footer-heading {
  border-bottom: 1px solid var(--black);
  font-size: 14px;
  margin: 0 0 8px;
  text-transform: uppercase;
}

.footer-col .footer-col-text {
  color: var(--dark-blue);
  font-size: 14px;
}

.footer-col-list {
  list-style-type: none;
}

.footer-col a {
  color: var(--dark-blue);
  text-decoration: none;
  outline: none;
}

.footer-brush-text {
  width: 180px;
}

.footer-brush-text h2 {
  color: var(--dark-blue);
  font-family: "Flood Std";
  font-size: 44px;
  margin: 32px 0 0;
}

.footer-section-links {
  font-size: 14px;
  color: var(--dark-blue);
  text-align: center;
}

.footer-section-links a {
  color: var(--dark-blue);
}

.footer-link {
  display: block;
  margin-bottom: 5px;
}

@media (min-width: 480px) {
  /* ------------------------------ utility classes ------------------------------ */

  .heading-sm {
    font-size: 22px;
  }

  .headline-lrg {
    font-size: 28px;
  }

  /* ------------------------------ navbar styles ------------------------------ */

  .navbar-container {
    max-width: 670px;
    margin: 0 auto;
  }
  .heading-section {
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px 0;
  }
  .donate-btn {
    margin: 0;
  }
  .hamburger-menu-container {
    display: none;
  }
  .heading-section .donate-btn {
    display: unset;
  }

  .list-section {
    position: relative;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .list-section .nav-items {
    margin: 0;
    padding: 0;
  }

  .list-section li {
    display: inline-block;
  }

  .list-section .nav-item a {
    padding: 13px 10px;
  }
  .navbar-container .list-section .donate-btn {
    display: none;
  }

  /* ------------------------------ hero section styles ------------------------------ */

  .home-hero-section {
    top: 0;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .hero-text {
    height: 320px;
  }

  .hero-text h2 {
    font-size: 72px;
  }
  .hero-article {
    padding: 76px 64px 119px;
    align-items: flex-start;
  }

  /* ------------------------------ take action section styles ------------------------------ */

  .take-action-section {
    top: 0;
  }

  .take-action-container .actions {
    justify-content: space-between;
  }

  .take-action-container .actions article {
    width: 45%;
  }

  .actions article p {
    font-size: 16px;
  }

  /* ------------------------------ what we do section styles ------------------------------ */

  .what-we-do-section {
    top: 0;
  }
  .what-we-do-block {
    width: 100%;
    margin-bottom: 60px;
  }

  .what-we-do-wrapper {
    width: 90%;
    max-width: 670px;
    margin: 32px 0 0;
  }
  .what-we-do-image {
    position: relative;
    left: 10%;
  }
  .what-we-do-content {
    padding: 0;
  }
  .what-we-do-content-article {
    padding: 10px 30px 40px;
    text-align: left;
  }

  /* ------------------------------ climate hunger section styles ------------------------------ */

  .climate-hunger-section {
    top: 0;
  }
  .climate-hunger-section-container {
    max-width: 670px;
    margin: 0 auto;
  }
  .text-container .brush-text h2 {
    width: 56%;
  }
  .did-you-know-text {
    left: 32px;
  }
  .did-you-know-div {
    padding: 30px 32px;
  }
  .did-you-know-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .did-you-know-box-content {
    text-align: left;
  }
  .did-you-know-buttons {
    flex-direction: column;
  }
  .did-you-know-buttons .twitter-circle {
    margin: 0 7px 16px;
  }

  .did-you-know-buttons .facebook-circle {
    margin: 0 7px;
  }

  /* ------------------------------ testimonial slider section styles ------------------------------ */

  .testimonial-slider-section {
    top: 0;
  }

  /* ------------------------------ home updates section styles ------------------------------ */

  .home-updates-section {
    top: 0;
  }

  /* ------------------------------ newsletter signup section styles ------------------------------ */

  .newsletter-signup-section {
    top: 0;
  }
  .newsletter-signup-section-container {
    max-width: 680px;
    margin: 0 auto;
  }
  .newsletter-signup-fields button {
    margin: 0;
  }

  /* ------------------------------ footer section styles ------------------------------ */

  .footer-section {
    top: 0;
  }
  .footer-section-content {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin: 0 auto 30px;
  }
  .footer-row {
    display: flex;
    width: 90%;
    align-self: center;
  }
  .footer-brush-text {
    align-self: flex-end;
  }
}

@media (min-width: 660px) {
  /* ------------------------------ hero section styles ------------------------------ */

  .hero-article {
    width: 640px;
  }

  /* ------------------------------ take action section styles ------------------------------ */

  .actions-row {
    justify-content: space-around;
  }
}

@media (min-width: 720px) {
  /* ------------------------------ testimonial slider section styles ------------------------------ */

  .slide-block {
    width: 700px;
  }
  .slide-image {
    width: 576px;
    height: 490px;
    margin: 0;
  }
  .slide-content {
    width: 576px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -74px;
    left: 124px;
  }
}

@media (min-width: 765px) {
  /* ------------------------------ climate hunger section styles ------------------------------ */

  .climate-hunger-section-container {
    display: flex;
  }
  .did-you-know-div {
    width: 416px;
  }
}

@media (min-width: 770px) {
  /* ------------------------------ home updates section styles ------------------------------ */

  .home-updates-section-container {
    max-width: 640px;
    margin: 0 auto;
  }
  .accent-text h3 {
    font-size: 72px;
    text-align: left;
  }
  .home-updates-row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .home-updates-row-image {
    width: 320px;
    height: 288px;
  }
  .home-updates-row-content {
    width: 288px;
    top: 0;
    padding: 0 0 0 32px;
    align-items: flex-start;
  }
  .home-updates-row:nth-child(2) .home-updates-row-image {
    order: 1;
  }

  .take-action-container {
    max-width: 660px;
    margin: 0 auto;
  }
  .take-action-container .actions {
    justify-content: space-between;
  }

  /* ------------------------------ newsletter signup section styles ------------------------------ */

  .newsletter-signup-fields {
    flex-direction: row;
    align-items: center;
  }
  .newsletter-signup-fields input {
    margin: 0 30px 0 0;
  }
}

@media (min-width: 850px) {
  /* ------------------------------ what we do section styles ------------------------------ */

  .what-we-do-container {
    margin: 0 auto;
  }
  .what-we-do-wrapper {
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  /* ------------------------------ utility classes ------------------------------ */

  .heading-sm {
    font-size: 28px;
  }

  .headline-lrg {
    font-size: 44px;
  }

  /* ------------------------------ navbar styles ------------------------------ */

  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    padding: 24px 0;
  }
  .heading-section {
    padding: 0;
  }
  .heading-section .donate-btn {
    display: none;
  }
  .navbar .list-section {
    flex-direction: row;
    align-items: center;
    width: 70%;
  }

  .navbar .list-section .nav-item a {
    padding: 13px 20px;
    margin-right: 40px;
  }

  .navbar .list-section .donate-btn {
    display: unset;
  }

  /* ------------------------------ hero section styles ------------------------------ */

  .hero-container {
    flex-direction: row;
    max-width: 1120px;
    margin: 0 auto;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    order: 1;
    width: 50%;
    padding-top: 40px;
  }
  .hero-article {
    width: 50%;
  }

  /* ------------------------------ take action section styles ------------------------------ */

  .take-action-container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .take-action-container .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .take-action-container .actions article {
    width: 198px;
  }

  /* ------------------------------ what we do section styles ------------------------------ */

  .what-we-do-container {
    max-width: 1120px;
    padding: 0;
  }

  .what-we-do-article {
    align-items: flex-start;
  }
  .what-we-do-blocks {
    display: flex;
    justify-content: space-around;
  }
  .what-we-do-block {
    width: 30%;
  }

  /* ------------------------------ climate hunger section styles ------------------------------ */

  .climate-hunger-section-container {
    justify-content: center;
    padding: 0;
    max-width: 1120px;
  }
  .text-container {
    width: 50%;
  }
  .text-container .brush-text h2 {
    font-size: 72px;
  }
  .did-you-know-section {
    width: 50%;
    max-width: 560px;
  }
  .did-you-know-div {
    width: 100%;
    max-width: 560px;
    padding: 55px 64px;
  }
  .did-you-know-box-content {
    width: 70%;
  }

  /* ------------------------------ testimonial slider section styles ------------------------------ */

  .testimonial-slider-section-container {
    padding: 0;
    max-width: 1120px;
    margin: 0 auto;
  }
  .slide-block {
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1150px;
  }
  .slide-image {
    width: 50%;
    order: 1;
    margin-left: auto;
  }
  .slide-content {
    width: 60%;
    position: absolute;
    top: 20%;
    left: 0;
  }

  /* ------------------------------ home updates section styles ------------------------------ */

  .home-updates-section-container {
    max-width: 1120px;
  }
  .accent-text {
    width: 820px;
  }
  .home-updates-row-image {
    width: 50%;
    height: 634px;
  }
  .home-updates-row-content {
    width: 50%;
    padding: 0 0 50px 96px;
  }
  .home-updates-row-content p {
    font-size: 20px;
  }
  .home-updates-row:nth-child(2) .home-updates-row-content {
    padding: 0 96px 50px 0;
  }

  /* ------------------------------ newsletter signup section styles ------------------------------ */

  .newsletter-signup-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    padding: 0;
  }
  .newsletter-signup-text {
    padding-right: 40px;
    margin: 0;
  }
  .newsletter-signup-text h3 {
    margin: 0;
  }

  /* ------------------------------ footer section styles ------------------------------ */

  .footer-section-content {
    flex-direction: row;
    max-width: 1120px;
  }
  .footer-text {
    padding-top: 30px;
  }
  .footer-row {
    justify-content: space-around;
  }
  .footer-col {
    width: 160px;
  }
}
